<div class="row">
  <div class="col-6 m-auto py-4 border-bottom-header">
    <img
      src="../../../../assets/img/image 2.png"
      class="img-fluid"
      alt=""
      srcset=""
    />

    <div class="head-title">
      <h2 class="text-center mt-4 w-50 m-auto">
        A few words about this blog platform, Ghost, and how this site was made
      </h2>
    </div>
    <div class="subtitle text-center mt-3">
      <p class="p-0 m-0">Why Ghost (& Figma) instead of Medium,</p>
      <p class="p-0 m-0">WordPress or other options?</p>
    </div>
  </div>
</div>
