<header id="header-wrap">
  <!-- Navbar Start -->
  <nav
    class="navbar navbar-expand-md bg-inverse  border-bottom p-0 scrolling-navbar top-nav-collapse"
  >
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <a [href]="'/'" class="navbar-brand"
        ><img
          src="../../../../assets/img/NORDIC ROSE.png"
          width="150"
          alt="vivay"
      /></a>
      <button
        class="navbar-toggler"
        (click)="isCollapsed =! isCollapsed"
        type="button"
        data-toggle="collapse"
        data-target="#navbarCollapse"
        aria-controls="navbarCollapse"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" [ngClass]="{'show':!isCollapsed}" id="navbarCollapse" style="">
        <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
          <li class="nav-item active">
            <a class="nav-link" href="#hero-area"> Blog </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#services"> About </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#team"> Links </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#pricing"> Projects </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar End -->
</header>
