/* You can add global styles to this file, and also import other style files */
@import 'assets/styles/custom-variables';
@import 'assets/styles/fonts.scss';
.nav-item a{
  font-size: $font-weight-600;
}
.navbar-collapse li:hover {
  border-bottom: 1px solid #000;
}
.border-bottom {
  line-height: 4rem;
}
.head-title h2 {
  font-family: newyork;
}
.subtitle p {
  font-family: SfMono;
}
.border-bottom-header {
  border-bottom: 2px solid #000;
  line-height: 2rem;
  margin-top: 1rem;
}


// Footer Section
.footer-list-subjects  {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  color: #fff;
}
.footer-list-subjects li:nth-child(odd) {
  font-family: SfProText;
  font-weight: bold;
  margin: 0 5px;
}
.footer-list-subjects li:nth-child(even) {
  font-family: SfMono;
  margin: 0 5px;
}
.footer-desc p {
  word-wrap: break-word;
  font-family: newyorkSmall;
}
