@font-face {
  font-family: "newyork";
  src: url('../fonts/NewYork/NewYork.ttf') format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "newyorkSmall";
  src: url('../fonts/NewYork/NewYorkSmall-Regular.ttf') format("truetype");
}
@font-face {
  font-family: "newyorExtra";
  src: url('../fonts/NewYork/NewYorkLarge-Bold.ttf') format("truetype");
}
@font-face {
  font-family: "newyorMed";
  src: url('../fonts/NewYork/NewYorkExtraLarge-Medium.ttf') format("truetype");
}
@font-face {
  font-family: "SfMono";
  src: url('../fonts/SFMono/SFMonoRegular.woff') format("woff");
}
@font-face {
  font-family: "SfPro";
  src: url('../fonts/SFProDisplay/SFPRODISPLAYBLACKITALIC.OTF') format("opentype");
}
@font-face {
  font-family: "SfText";
  src: url('../fonts/SFText/SF-Pro-Text-BoldItalic.otf') format("opentype");
}
@font-face {
  font-family: "SfProText";
  src: url('../fonts/SFText/SF-Pro-Text-Heavy.otf') format("opentype");
}
